<nav data-script="helpers/nav">
    <div class="container">
        <span class="inline title">{{i18n "title" __pageName}}</span>
        <div
                rv-each-entry="nav:all"
                rv-class-hidden="entry.perms | exclude user:me.options"
                rv-class-auth="entry.auth | or ''"
                rv-class-unauth="entry.unauth | or ''"
        >
            <a rv-href="entry.url | prefix '/{{_lang}}/' | or entry.modal | or ''" rv-text="entry.name | prefix 'nav-' | translate" rv-data-script="'helpers/nav-element'"></a>
            <ul rv-if="entry.sub">
                <li rv-each-sub="entry.sub">
                    <a rv-href="sub.url | prefix '/{{_lang}}/' | or sub.modal | or ''" rv-text="sub.name | prefix 'nav-' | translate"></a>
                </li>
            </ul>
        </div>
    </div>
</nav>
