{{>precontent}}
{{>nav}}
<div class="container unauth">
    <h1>{{i18n "unauthorized-header"}}</h1>
    {{i18n "unauthorized-body"}}
</div>
<div class="container auth" >
    <h1>{user:me.username}</h1>
    <div class="grid">
        <div class="card">
            ID: {user:me._id}
        </div>
    </div>
</div>
{{>postcontent}}
