@import "variables";

.color-primary {
  background-color : @color-back;
  color            : @color-text;
}

.color-secundary {
  background-color : @color-theme;
  color            : @color-back;
}
