@import "alignment";
@import "colors";
@import "edges";
@import "mixins";
@import "variables";

// Remove autofill 'yellow'
@-webkit-keyframes autofill {
  to {
    background : @color-back;
    color      : @color-text;
  }
}

:-webkit-autofill {
  -webkit-animation-name      : autofill;
  -webkit-animation-fill-mode : both;
}

// Buttons
.button-container {
  text-align : right;
  margin-top : 1.5rem;
}

button, .btn {
  .card;
  .padded;
  background : mix(@color-text, @color-back);
  color      : @color-back;
  cursor     : pointer;
  display    : inline-block;
  text-align : left;
  &:first-child {
    margin-left : 0;
  }
  &.btn-default {
    background : @color-theme;
  }
  &.btn-warn {
    background : @color-warn;
  }
}

// Row alignment & absolute boundaries
.form-group {
  margin-top : 1.5em;
  position   : relative;
}

// Basic inputs
input, select, textarea {
  .padded;
  background-color : @color-back;
  border           : none;
  border-bottom    : 1px solid fade(@color-text, 50%);
  color            : @color-text;
  display          : block;
  line-height      : 1.2rem;
  width            : 100%;
  &:focus ~ .bar {
    &:before, &:after {
      width : 50%;
    }
  }
  &:focus, &:valid {
    ~ label {
      color     : @color-theme;
      font-size : 0.8rem;
      top       : -1rem;
    }
  }

  ~ .bar {
    position : relative;
    display  : block;
    width    : 100%;

    &:before, &:after {
      content    : '';
      height     : 2px;
      width      : 0;
      bottom     : 0px;
      position   : absolute;
      background : @color-theme;
      .transition(all @transitions-duration ease);
    }
    &:before {
      left : 50%;
    }
    &:after {
      right : 50%;
    }
  }
}

label.control-label,
label[for] {
  color          : fade(@color-text, 50%);
  font-weight    : 400;
  left           : 0.25rem;
  pointer-events : none;
  position       : absolute;
  top            : 0.25rem;
  .transition(all @transitions-duration ease);
}

//form, .form {
//  .group {
//    position   : relative;
//    margin-top : 2rem;
//  }
//  input {
//    .padded;
//    -webkit-appearance : none;
//
//  }
//}
