@import "alignment";
@import "colors";
@import "edges";
@import "mixins";
@import "variables";

// Remove autofill 'yellow'
@-webkit-keyframes autofill {
  to {
    background : @color-back;
    color      : @color-text;
  }
}

:-webkit-autofill {
  -webkit-animation-name      : autofill;
  -webkit-animation-fill-mode : both;
}

// Buttons
.button-container {
  text-align : right;
  margin-top : 1.5rem;
}

button, .btn {
  .card;
  .padded;
  background  : mix(@color-text, @color-back);
  color       : @color-back;
  cursor      : pointer;
  display     : inline-block;
  margin-left : 0.25rem;
  text-align  : left;
  &:first-child {
    margin-left : 0;
  }
  &.btn-default {
    background : @color-theme;
  }
  &.btn-warn {
    background : @color-warn;
  }
}

// Basic inputs
.input,
.input-select {
  margin-top : 1.5em;
  position   : relative;
  input, select, textarea {
    .padded;
    background-color : @color-back;
    border           : none;
    border-bottom    : 1pt solid fade(@color-text, 50%);
    color            : @color-text;
    display          : block;
    line-height      : 1.2rem;
    width            : 100%;
    &:focus, &.has-content {
      ~ label {
        color     : @color-theme;
        font-size : 0.8rem;
        top       : -1rem;
      }
    }
    &:focus ~ .bar {
      &:before, &:after {
        width : 50%;
      }
    }
    &.card {
      border-bottom : none;
    }

    ~ .bar {
      position : relative;
      display  : block;
      width    : 100%;

      &:before, &:after {
        content    : '';
        height     : 0.1rem;
        width      : 0;
        bottom     : 0;
        position   : absolute;
        background : @color-theme;
        .transition(all @transitions-duration ease);
      }
      &:before {
        left : 50%;
      }
      &:after {
        right : 50%;
      }
    }
  }
}
.input-group {
  > .input + .input {
    margin-top: 0.5rem;
  }
}

// Fancy labels
label.control-label,
label[for] {
  color          : fade(@color-text, 50%);
  font-weight    : normal;
  left           : 0.25rem;
  pointer-events : none;
  position       : absolute;
  top            : 0.25rem;
  .transition(all @transitions-duration ease);
}

// Select-specific rules
.input-select {
  select {
    -webkit-appearance : none;
    -moz-appearance    : none;
    -ms-appearance     : none;
    -o-appearance      : none;
    appearance         : none;
  }
  &:after {
    border-left  : 0.25rem solid transparent;
    border-right : 0.25rem solid transparent;
    border-top   : 0.5rem solid @color-text;
    content      : "";
    height       : 0;
    position     : absolute;
    right        : 0.9rem;
    top          : 0.9rem;
    width        : 0;
  }
}

input[type=checkbox],
input[type=radio] {
  display : none;
  width   : auto;
  + label {
    color          : @color-text;
    cursor         : pointer;
    left           : 0;
    padding-left   : 1.5rem;
    pointer-events : all;
    position       : relative;
    top            : 0;

    &:before,
    &:after {
      .transition(all @transitions-duration ease);
      border-radius : 0.1rem;
      content       : "";
      display       : block;
      height        : 1rem;
      left          : 0;
      position      : absolute;
      top           : 0.1rem;
      width         : 1rem;
    }
    &:before {
      border : 0.1rem solid @color-text;
    }
    &:after {
      background : @color-text;
      transform  : scale(0);
    }
  }
  &:checked + label {
    &:after {
      transform : scale(0.55);
    }
  }
  &:checked,
  &:hover,
  &:focus {
    + label {
      &:before {
        border-color : @color-theme;
      }
      &:after {
        background-color : @color-theme;
      }
    }
  }
}

input[type=radio] + label {
  &:before,
  &:after {
    border-radius : 50%;
  }
}

//@color-back : rgba(128, 128, 128, 0.5);
//@color-on : #51c0d3;
//@color-off : transparent;
//
//input.fancy-switch {
//  display : none;
//
//  + label {
//    -webkit-box-sizing    : border-box;
//    -moz-box-sizing       : border-box;
//    box-sizing            : border-box;
//    height                : 1em;
//    width                 : 2em;
//    background-color      : @color-back;
//    -webkit-border-radius : 0.5em;
//    -moz-border-radius    : 0.5em;
//    border-radius         : 0.5em;
//    margin                : 0;
//
//    -webkit-box-shadow : inset 0 0 2px 0px #000;
//    -moz-box-shadow    : inset 0 0 2px 0px #000;
//    box-shadow         : inset 0 0 2px 0px #000;
//
//    &:before,
//    &:after {
//      display               : block;
//      position              : absolute;
//      content               : "";
//      height                : 1em;
//      -webkit-border-radius : 0.5em;
//      -moz-border-radius    : 0.5em;
//      border-radius         : 0.5em;
//      width                 : 1em;
//    }
//
//    &:before {
//      -webkit-transition : width 200ms ease-in;
//      -moz-transition    : width 200ms ease-in;
//      -ms-transition     : width 200ms ease-in;
//      -o-transition      : width 200ms ease-in;
//      transition         : width 200ms ease-in;
//    }
//
//    &:after {
//      background         : #FFF;
//      -webkit-transition : margin 200ms ease-in;
//      -moz-transition    : margin 200ms ease-in;
//      -ms-transition     : margin 200ms ease-in;
//      -o-transition      : margin 200ms ease-in;
//      transition         : margin 200ms ease-in;
//    }
//
//  }
//
//  &:checked + label {
//    &:before {
//      width : 2em;
//    }
//    &:after {
//      margin-left : 1em;
//    }
//  }
//}
//
//input.fancy-switch.on-off + label:before {
//  background-color: @color-on;
//}
