@import "alignment";
@import "colors";
@import "edges";
@import "variables";

// Desktop
nav {
  .color-secundary;
  .shadow;

  a {
    .padded;
    display : inline-block;
    &:hover {
      background-color : @color-back;
      color            : @color-theme;
    }

    &.icon {
      display : none;
    }
  }

  .title {
    .padded;
    display: none;
  }

  &:after {
    clear   : both;
    content : "";
  }

  > .container {
    padding : 0;
  }
}

// Mobile
@media all and (max-width : @container-width) {
  nav {
    .title {
      display: block;
    }
    a {
      display : none;
    }
    &.open {
      a { display : block; }
      .title { display: none; }
    }
    a.icon {
      display  : block;
      float    : right;
      position : absolute;
      right    : 0;
      top      : 0;
    }
  }
}
