@import "alignment";
@import "colors";
@import "edges";
@import "variables";

// Desktop
nav {
  .color-secundary;
  .shadow;
  > .container {
    padding : 0;
    & > div {
      display  : inline-block;
      position : relative;
    }
  }

  ul {
    .color-primary;
    .shadow;
    display         : none;
    list-style-type : none;
    position        : absolute;
    z-index         : 10;
    a {
      min-width : 100%;
      &:hover {
        .color-secundary;
      }
    }
  }
  .title, a {
    .padded;
    display : inline-block;
  }
  .title,
  .icon {
    display : none;
  }

  a {
    &:hover,
    &.open {
      background-color : @color-back;
      color            : @color-theme;
    }
    &.open + ul {
      display : block;
    }
  }
  &:after {
    clear   : both;
    content : "";
  }
}

// Mobile
@media all and (max-width : @container-width) {
  nav {
    .title {
      display : block;
    }
    > .container > div {
      display : none;
    }
    &.open {
      > .container > div {
        display : block;
      }
      .title {
        display : none;
      }
    }
    ul {
      position : initial;
    }
    a {
      width : 100%;
      &.icon {
        display  : block;
        float    : right;
        position : absolute;
        right    : 0;
        top      : 0;
        width    : auto;
      }
    }
  }
}
