{{>modal/precontent id='login'}}
<h2>{{i18n "title-modal-login"}}</h2>
<form data-script="helpers/form-api" action="user.login" method="post">
    <div class="input">
        <input type="text" id="login-username" name="username" data-script="helpers/input-has-content" />
        <i class="bar"></i>
        <label for="login-username">{{i18n "label-username"}}</label>
    </div>
    <div class="input">
        <input type="password" id="login-password" name="password" data-script="helpers/input-has-content" />
        <i class="bar"></i>
        <label for="login-password">{{i18n "label-password"}}</label>
    </div>
    <div class="button-container">
        <button class="btn btn-default" data-action="submit">{{i18n "button-login"}}</button>
    </div>
</form>
{{>modal/postcontent}}
